In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv("C:/Users/User/Downloads/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin1")

In [6]:
data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [7]:
data.describe

<bound method NDFrame.describe of        Area Code      Area  Item Code           Item  Element Code  \
0              4   Algeria       2501     Population           511
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
0               Total Population - Both sexes     1000 persons  38924.00
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]>

In [8]:
data.dtypes

Area Code         int64
Area             object
Item Code         int64
Item             object
Element Code      int64
Element          object
Unit             object
Y2014           float64
Y2015           float64
Y2016           float64
Y2017           float64
Y2018           float64
dtype: object

In [9]:
data.isnull

<bound method DataFrame.isnull of        Area Code      Area  Item Code           Item  Element Code  \
0              4   Algeria       2501     Population           511
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
0               Total Population - Both sexes     1000 persons  38924.00
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]>

In [10]:
data_item = data.groupby(['Item']).sum()

In [11]:
data_item.loc['Animal fats']

Area Code         85279.00
Item Code       1882494.00
Element Code    2567303.00
Y2014            209460.54
Y2015            200675.72
Y2016            183314.22
Y2017            269617.53
Y2018            269648.27
Name: Animal fats, dtype: float64

In [12]:
data_mean = data[['Y2015']].mean().round(3)
print('The mean value for',data_mean)

The mean value for Y2015    135.236
dtype: float64

In [13]:
data_std = data[['Y2015']].std().round(3)
print('The standard deviation value for',data_std)

The standard deviation value for Y2015    1603.404
dtype: float64

In [14]:
print('The number of missing values for',data[['Y2016']].isnull().sum())

The number of missing values for Y2016    1535
dtype: int64

In [15]:
percentage_missing = data[['Y2016']].isnull().sum()*100/len(data[['Y2016']])

In [16]:
percentage_round = round(percentage_missing, 2)
percentage_round

Y2016    2.52
dtype: float64

In [17]:
data.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [18]:
data_element = data.groupby(['Element']).sum()
data_element.loc['Import Quantity']

Area Code         688174.00
Item Code       13795966.00
Element Code    28834929.00
Y2014             274144.48
Y2015             267018.46
Y2016             286582.78
Y2017             294559.09
Y2018             287997.09
Name: Import Quantity, dtype: float64

In [19]:
data_element.loc['Production']

Area Code         526751.00
Item Code       10450053.00
Element Code    21388191.00
Y2014            1931287.75
Y2015            1947019.39
Y2016            1943537.15
Y2017            2030056.89
Y2018            2075072.89
Name: Production, dtype: float64

In [20]:
data_element['Y2018']

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [21]:
data_area = data.groupby(['Area', 'Element']).sum()
data_area

                                                 Area Code  Item Code  \
Area     Element
Algeria  Domestic supply quantity                      464     311204
         Export Quantity                               392     264011
         Fat supply quantity (g/capita/day)            432     291489
         Feed                                           88      58967
         Food                                          420     282744
...                                                    ...        ...
Zimbabwe Protein supply quantity (g/capita/day)      20453     304589
         Residuals                                   18824     277476
         Seed                                         3439      50560
         Stock Variation                             17195     254157
         Total Population - Both sexes                 181       2501

                                                 Element Code     Y2014  \
Area     Element
Algeria  Domestic supply quantity                      614916  83755.94
         Export Quantity                               579278   1328.64
         Fat supply quantity (g/capita/day)             73872    320.19
         Feed                                          121462   9656.04
         Food                                          539910  60582.69
...                                                       ...       ...
Zimbabwe Protein supply quantity (g/capita/day)         76162    184.23
         Residuals                                     537680   -252.00
         Seed                                          105013    144.00
         Stock Variation                               481840   -644.00
         Total Population - Both sexes                    511  13587.00

                                                    Y2015     Y2016     Y2017  \
Area     Element
Algeria  Domestic supply quantity                85972.86  87157.61  86810.42
         Export Quantity                          1104.62   1340.22   1494.54
         Fat supply quantity (g/capita/day)        317.40    309.54    320.74
         Feed                                    10308.00   9903.00   9571.00
         Food                                    61693.49  63081.43  62785.33
...                                                   ...       ...       ...
Zimbabwe Protein supply quantity (g/capita/day)    175.31    172.72    175.31
         Residuals                                -780.00   -882.00  -1083.00
         Seed                                      128.00    127.00    162.00
         Stock Variation                          -343.00    221.00    458.00
         Total Population - Both sexes           13815.00  14030.00  14237.00

                                                    Y2018
Area     Element
Algeria  Domestic supply quantity                90023.42
         Export Quantity                           811.54
         Fat supply quantity (g/capita/day)        309.09
         Feed                                    10668.00
         Food                                    63736.33
...                                                   ...
Zimbabwe Protein supply quantity (g/capita/day)    176.57
         Residuals                                -546.00
         Seed                                      140.00
         Stock Variation                          -447.00
         Total Population - Both sexes           14439.00

[803 rows x 8 columns]

In [22]:
data_area.loc['Algeria']

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,464,311204,614916,83755.94,85972.86,87157.61,86810.42,90023.42
Export Quantity,392,264011,579278,1328.64,1104.62,1340.22,1494.54,811.54
Fat supply quantity (g/capita/day),432,291489,73872,320.19,317.40,309.54,320.74,309.09
Feed,88,58967,121462,9656.04,10308.00,9903.00,9571.00,10668.00
Food,420,282744,539910,60582.69,61693.49,63081.43,62785.33,63736.33
Food supply (kcal/capita/day),432,291489,71712,13500.00,13512.00,13483.00,13363.00,13288.00
Food supply quantity (kg/capita/yr),420,282744,67725,1556.45,1552.81,1555.77,1516.94,1509.28
Import Quantity,448,301030,628432,34940.12,37841.91,36736.08,36059.29,36238.29
Losses,208,139857,266396,7231.00,7471.00,7405.00,7428.00,7708.00
Other uses (non-food),148,101269,190698,3315.22,3483.37,3400.17,3534.08,3970.08
Processing,140,93537,179585,1776.00,1865.00,1920.00,2045.00,2479.00
Production,360,242590,495990,52534.48,53451.57,54554.75,54869.67,60766.67
Protein supply quantity (g/capita/day),432,291489,72792,379.56,377.37,378.84,371.26,367.28
Residuals,408,272327,527340,552.00,489.00,770.00,766.00,630.00
Seed,80,53109,110540,631.00,657.00,672.00,684.00,825.00
Stock Variation,376,251696,476768,2392.00,4233.00,2789.00,2636.00,6172.00
Total Population - Both sexes,4,2501,511,38924.00,39728.00,40551.00,41389.00,42228.00

In [23]:
data[['Area']].nunique()

Area    49
dtype: int64